{% extends 'base.html' %}
{% load static %}

{% block title %}Employee{% endblock title %}

{% block content %}
<main id="app" class="container">
    <form action="" class="mt-3">
        <div class="row row-cols-1 m-auto mt-3 pb-2 border rounded-4 pt-3">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2>Account</h2>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-dash-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                        </svg>
                    </button>
                </div>
                <hr>
            </div>
            <div class="col">
                <div class="row row-cols-1 m-auto">
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="email" class="form-control" id="email" placeholder="" v-model="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="username" placeholder="" v-model="username">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="password" class="form-control" id="password" placeholder="" v-model="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="password" class="form-control" id="confirm" placeholder="" v-model="confirm">
                            <label for="confirm">Confirm Password</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row row-cols-1 m-auto mt-3 pb-3 border rounded-4 pt-3">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2>Employee</h2>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-dash-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                        </svg>
                    </button>
                </div>
                <hr>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-lg-2 m-auto">
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="fname" placeholder="" v-model="fname">
                            <label for="fname">ชื่อ</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="lname" placeholder="" v-model="lname">
                            <label for="lname">นามสกุล</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="tel" placeholder="" v-model="phone">
                            <label for="tel">โทรศัพท์</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <select class="form-select" id="positions" v-model="position"
                                aria-label="Floating label select example">
                                <option selected value="">-</option>
                                <option v-for="item in position_list" :value="item[0]">[{item[1]}]</option>
                            </select>
                            <label for="positions">ตำแหน่ง</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-lg-2 m-auto">
                    <div class="col">
                        <div class="form-floating mt-3">
                            <select class="form-select" id="provinces" v-model="province"
                                aria-label="Floating label select example" @change="onProvinceChange()">
                                <option selected value="">-</option>
                                <option v-for="item in province_list" :value="item">[{item}]</option>
                            </select>
                            <label for="provinces">จังหวัด</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <select class="form-select" id="districts" v-model="district" @change="onDistrictChange()"
                                aria-label="Floating label select example">
                                <option selected value="">-</option>
                                <option v-for="item in district_list" :value="item">[{item}]</option>
                            </select>
                            <label for="districts">อำเภอ</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <div class="form-floating mt-3">
                                <select class="form-select" id="sub_districts" v-model="sub_district"
                                    aria-label="Floating label select example">
                                    <option selected value="">-</option>
                                    <option v-for="item in sub_district_list" :value="item">[{item}]</option>
                                </select>
                                <label for="sub_districts">ตำบล</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="post-code" placeholder="" v-model="post_code">
                            <label for="post-code">ไปรษณีย์</label>

                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row row-cols-1 m-auto">

                    <div class="col">
                        <div class="form-floating mt-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="addres"
                                v-model="address"></textarea>
                            <label for="addres">รายละเอียดที่อยู่</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock content %}
<!--  -->
{% block script %}
<script type="module">

    const { createApp, ref } = Vue;
    const App = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {

                    email: "",
                    username: "",
                    password: "",
                    confirm: "",

                    fname: "",
                    lname: "",
                    position: "",
                    province: "",
                    district: "",
                    sub_district: "",
                    address: "",
                    post_code: "",
                    phone: "",

                    province_list: null,
                    district_list: null,
                    sub_district_list: null,
                    position_list: null,

                    email_isValid: true,
                    username_isValid: true,
                    password_isValid: true,
                    confirm_isValid: true,
                    fname_isValid: true,
                    lname_isValid: true,
                    province_isValid: true,
                    district_isValid: true,
                    sub_district_isValid: true,
                    address_isValid: true,
                    post_code_isValid: true,
                    phone_isValid: true,
                    position_isValid:true,

                    isValid: true,

                    show_account: true,
                    show_employee: true,

                };
            },
            mounted() {
                try {
                    axios
                        .get("{% url 'api-get-province' %}")
                        .then((response) => {
                            if (response.data['status']) {
                                this.province_list = response.data['data'];
                                console.log('province load successfully!');
                            }
                        });

                }
                catch (err) {
                    console.log('load province fail!');
                }

                try {
                    axios
                        .get("{% url 'api-get-employee-position' %}")
                        .then((response) => {
                            this.position_list = response.data['data'];
                        });

                }
                catch (err) {
                    console.log('load position fail!');
                }
            },


            methods: {
                onProvinceChange() {

                    const form_data = new FormData();
                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                    form_data.append('province', this.province);
                    axios
                        .post("{% url 'api-get-district' %}", form_data)
                        .then((response) => {
                            if (response.data['status']) {
                                this.district_list = response.data['data'];
                            }
                            console.log(`load district in ${this.province} successfully!`);
                            this.sub_district_list = new Array();
                            this.district = "";
                            this.sub_district = "";
                        })
                        .catch((err) => {
                            console.log(`load district in ${this.province} fail!`);
                        });
                },
                onDistrictChange() {
                    const form_data = new FormData();
                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                    form_data.append('province', this.province);
                    form_data.append('district', this.district);

                    axios
                        .post("{% url 'api-get-sub-district' %}", form_data)
                        .then((response) => {
                            if (response.data['status']) {
                                this.sub_district_list = response.data['data'];
                                this.sub_district = "";
                            }
                        });



                },
                onSubmit(e) {
                    e.preventDefault();

                    this.isValid = true;

                    this.email_isValid = true;
                    if (this.email == "") {
                        this.email_isValid = false;
                        this.isValid = false;
                    }
                    this.username_isValid = true;
                    if (this.username == "") {
                        this.username_isValid = false;
                        this.isValid = false;
                    }
                    this.password_isValid = true;
                    if (this.password.length < 8) {
                        this.password_isValid = false;
                        this.isValid = false;
                    }

                    this.password_isValid = true;
                    if (this.password != this.confirm) {
                        this.password_isValid = false;
                        this.isValid = false;
                    }

                    this.fname_isValid = true;
                    if (this.fname == "") {
                        this.fname_isValid = false;
                        this.isValid = false;
                    }
                    this.lname_isValid = true;
                    if (this.lname == "") {
                        this.lname_isValid = false;
                        this.isValid = false;
                    }
                    this.province_isValid = true;
                    if (this.province == "") {
                        this.province_isValid = false;
                        this.isValid = false;
                    }
                    this.district_isValid = true;
                    if (this.district == "") {
                        this.district_isValid = false;
                        this.isValid = false;
                    }
                    this.sub_district_isValid = true;
                    if (this.sub_district == "") {
                        this.sub_district_isValid = false;
                        this.isValid = false;
                    }
                    this.address_isValid = true;
                    if (this.address == "") {
                        this.address_isValid = false;
                        this.isValid = false;
                    }
                    this.post_code_isValid = true;
                    if (this.post_code == "") {
                        this.post_code_isValid = false;
                        this.isValid = false;
                    }
                    this.phone_isValid = true;
                    if (this.phone == "") {
                        this.phone_isValid = false;
                        this.isValid = false;
                    }

                    this.position_isValid = true
                    if (this.position = ""){
                        this.position_isValid = false;
                        this.isValid = false
                    }

                    if (this.isValid) {

                        const form_data = new FormData();
                        form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                        form_data.append('email', this.email);
                        form_data.append('username', this.username);
                        form_data.append('password', this.password);
                        form_data.append('fname', this.fname);
                        form_data.append('lname', this.lname);
                        form_data.append('position', this.position);
                        form_data.append('province', this.province);
                        form_data.append('district', this.district);
                        form_data.append('sub_district', this.sub_district);
                        form_data.append('address', this.address);
                        form_data.append('post_code', this.post_code);
                        form_data.append('phone', this.phone);

                        axios
                            .post(form_data)
                            .then((response) => {
                                if (response.data['status']) {

                                }

                            })
                            .catch((err) => {

                            });
                    }

                }
            }
        }
    );

    App.mount('#app');

</script>

{% endblock script %}